
@{
    ViewData["Title"] = "Manage Sittings";
}

<div class="mt-5">
    <div class="row justify-content-center mb-3">
        <a class="btn btn-info w-25 text-nowrap" asp-action="PastSittings">Past Sittings</a>
    </div>
    <div class="row justify-content-center mb-3">
        <a class="btn btn-info w-25 text-nowrap" asp-action="FutureSittings">Future Sittings</a>
    </div>
</div>
