@{
    ViewData["Title"] = "IndexMember";
}

<h3>Welcome, member!</h3>
<p>What would you like to do today?</p>

<a class="btn btn-info" role="button" asp-controller="Reservation" asp-action="CreateReservation">Make a reservation</a>
<a class="btn btn-info" role="button" asp-controller="Reservation" asp-action="HistoryReservation">View History</a>

