@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Welcome!</h4>
    <p>What would you like to do today?</p>
    <a class="btn btn-info w-25" asp-controller="Reservation" asp-action="CreateReservation">Reserve Now</a>
</div>

